@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@600&display=swap");

/* ----------------------------- */
/* Custom Properties             */
/* ----------------------------- */
:root {
  /* font-family */
  --ff-heading: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  /* colors */
  --pink: hsl(322, 100%, 66%);
  --very-pale-blue: hsl(207, 100%, 98%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);

  /* font-sizes */
  --h1: 1.5rem;
  --h2: 1.25rem;
  --h2-nr: 3.75rem;
  --h2-cta: 1.5rem;
  --body-lg: 0.875rem;
  --body-nr: 1rem;
  --body: 0.875rem;
  --footer-heading: 1.25rem;
  --footer: 0.875rem;

  /* transition */
  --transition: all 0.35s ease-in;
}

@media (min-width: 820px) {
  :root {
    /* font-sizes */
    --h1: 3rem;
    --h2: 2.375rem;
    --h2-nr: 6rem;
    --h2-cta: 2.5rem;
    --body-lg: 1.25rem;
    --body-nr: 1.5rem;
    --body: 1rem;
    --footer-heading: 1.5rem;
  }
}

/* ----------------------------- */
/* Reset                         */
/* ----------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
/* Body */

body {
  font-family: var(--ff-body);
  font-size: var(--body);
  color: var(--grayish-blue);
  /* min-height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr; */
}

/* Images */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

/* Animation */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------------- */
/* Utility Classes               */
/* ----------------------------- */
.container {
  margin-inline: auto;
  max-width: 1280;
  width: 92%;
}
.d-flex {
  display: flex;
}
.pos-a {
  position: absolute;
}
.pos-r {
  position: relative;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  background: var(--very-pale-cyan);
  color: var(--very-dark-cyan);
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-120%);
  transition: transform 500ms ease-in;
  position: absolute;
  z-index: 1000;
}
.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */
.bg-white {
  background-color: #fff;
}
.bg-pink {
  background-color: var(--pink);
}
.bg-very-pale-blue {
  background-color: var(--very-pale-blue);
}
.bg-very-dark-cyan {
  background-color: var(--very-dark-cyan);
}

.text-very-dark-cyan {
  color: var(--very-dark-cyan);
}
.text-white {
  color: #fff;
}
ul {
  margin: 0;
  padding: 0;
}

/* typography */

.uppercase {
  text-transform: uppercase;
}
.ff-poppins {
  font-family: var(--ff-heading);
}
.ff-open-sans {
  font-family: var(--ff-body);
}
.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}
.fw-400 {
  font-weight: 400;
}
.lh-150 {
  line-height: 150%;
}
.lh-171 {
  line-height: 171%;
}
.h1 {
  font-size: var(--h1);
}
.h2 {
  font-size: var(--h2);
}
.h2-cta {
  font-size: var(--h2-cta);
}
.h2-nr {
  font-size: var(--h2-nr);
}
.body {
  font-size: var(--body);
}
.body-lg {
  font-size: var(--body-lg);
}
.body-nr {
  font-size: var(--body-nr);
}
.footer {
  font-size: var(--footer);
}
.footer-heading {
  font-size: var(--footer-heading);
}
.text-center {
  text-align: center;
}

/* ----------------------------- */
/* Navigation                    */
/* ----------------------------- */
header {
  --header-pt: 1.5rem;
  padding-top: var(--header-pt);
}
.navigation {
  justify-content: space-between;
  align-items: center;
}
.navigation img {
  height: 16px;
  width: auto;
}
@media (min-width: 820px) {
  header {
    --header-pt: 4.875rem;
  }
  .navigation img {
    height: 39px;
  }
}
/* ----------------------------- */
/* Hero                         */
/* ----------------------------- */
#hero {
  --hero-pt: 7.25rem;
  --hero-pi: 2.375rem;
  padding-top: var(--hero-pt);
  padding-left: var(--hero-pi);
  padding-right: var(--hero-pi);
  width: 100%;
  margin: 0 auto;
}
.hero__subtitle {
  --hero-sub-pt: 1.3125rem;
  --hero-sub-pb: 3rem;
  padding-top: var(--hero-sub-pt);
  padding-bottom: var(--hero-sub-pb);
}
.hero__button--wrapper,
.hero__img--wrapper {
  justify-content: center;
}
.hero__img--wrapper {
  padding-top: 6.875rem;
}

@media (min-width: 820px) {
  #hero {
    --hero-pt: 14.375rem;
    --hero-pi: 12.625rem;
  }
  .hero__subtitle {
    width: 591px;
    margin: 0 auto;
  }
}
/* ----------------------------- */
/* BTN                         */
/* ----------------------------- */
button {
  cursor: pointer;
  transition: var(--transition);
}
button[data-type="naked"] {
  --button-pi: 1.03125rem;
  --button-pb: 0.28125rem;
  --button-fs: 0.625rem;
  background-color: transparent;
  border: 1px solid var(--pink);
  color: var(--pink);
  letter-spacing: -0.02em;
  border-radius: 90px;
  padding-top: var(--button-pb);
  padding-bottom: var(--button-pb);
  padding-left: var(--button-pi);
  padding-right: var(--button-pi);
  font-size: var(--button-fs);
}
button[data-type="naked"]:hover {
  border: 1px solid var(--light-pink);
  color: var(--light-pink);
}
button[data-type="primary curved"] {
  --button-pi: 2.5rem;
  --button-pb: 0.6875rem;
  --button-fs: 0.75rem;
  background-color: var(--pink);
  border-radius: 90px;
  border: none;
  color: white;
  padding-top: var(--button-pb);
  padding-bottom: var(--button-pb);
  padding-left: var(--button-pi);
  padding-right: var(--button-pi);
  font-size: var(--button-fs);
}
button[data-type="primary curved"]:hover {
  background-color: var(--light-pink);
}
@media (min-width: 820px) {
  button[data-type="naked"] {
    --button-pb: 0.5625rem;
    --button-pi: 1.875rem;
    --button-fs: 1rem;
  }
  button[data-type="primary curved"] {
    --button-pb: 1.5625rem;
    --button-pi: 6.875rem;
    --button-fs: 1.25rem;
  }
}
/* ----------------------------- */
/* About                         */
/* ----------------------------- */
#about {
  --pt: 7.75rem;
  --gap: 5.875rem;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
  padding-top: var(--pt);
}
.about__wrapper {
  margin: 0 auto;
}
.about__wrapper:nth-child(2) img {
  height: 20px;
  width: auto;
}
.about__wrapper:first-child img {
  height: 26px;
  width: auto;
}
.about__wrapper h2,
.about__wrapper p {
  text-align: center;
}
.about__title--1 {
  --fs: 3.75rem;
  font-size: var(--fs);
  letter-spacing: 0.035em;
}
.about__title--2 {
  --fs: 3.25rem;
  font-size: var(--fs);
}
.about__wrapper p {
  --fs: 0.875rem;
  --ls: -0.02em;
  --pt: 0.3125rem;
  line-height: 150%;
  color: #808d99;
  letter-spacing: var(--ls);
  padding-top: var(--pt);
}

@media (min-width: 820px) {
  #about {
    --gap: 21.0625rem;
    --pt: 7.4375rem;
    flex-direction: row;
  }
  .about__wrapper:nth-child(2) img {
    height: 34px;
  }
  .about__wrapper:first-child img {
    height: 41px;
    width: auto;
  }
  .about__wrapper h2,
  .about__wrapper p {
    text-align: left;
  }
  .about__title--1 {
    --fs: 6rem;
  }
  .about__title--2 {
    --fs: 6rem;
  }
  .about__wrapper p {
    --fs: 1.5rem;
    --ls: -0.015em;
    --pt: 0.625rem;
    line-height: 150%;
    color: #808d99;
  }
  .about__wrapper:nth-child(2) p {
    text-align: center;
  }
}
/* ----------------------------- */
/* Feat                         */
/* ----------------------------- */

/* ----------------------------- */
/* Cta                           */
/* ----------------------------- */

/* ----------------------------- */
/* Footer                         */
/* ----------------------------- */
