<footer>
  <a href="/">
    <img src="{{footer.logo}}" alt="home" />
  </a>
  <p>{{footer.text}}</p>
  <address class="">
    <div>
      {% for item in footer.info %}
      <p><span>{{item.icon}}</span>{{item.text}}</p>
      {% endfor %}
    </div>
  </address>
  <div class="socials">
    {% for social in footer.socials %}
    <p>{{social.icon}}</p>
    {% endfor %}
  </div>
  <div class="newsletter">
    <p>{{footer.newsletter.title}}</p>
    <p>{{footer.newsletter.text}}</p>
    <button>{{footer.newsletter.cta}}</button>
  </div>
</footer>
