<footer class="bg-very-dark-cyan">
  <div class="footer__wrapper">
    <div class="footer__header">
      <a href="/">
        <img src="{{footer.logo}}" alt="home" />
      </a>
      <p class="[ footer__subtitle ][ text-white fw-600 ]">{{footer.text}}</p>
    </div>
    <address class="[ footer__address ][ text-white ]">
      <div class="">
        {% for item in footer.info %}
        <p class="footer__address--child">
          <span>
            <img
              src="./images/icon-{{item.icon}}.svg"
              alt=""
              aria-hidden="true"
            /> </span
          >{{item.text}}
        </p>
        {% endfor %}
      </div>
    </address>
    <div class="[ footer__socials ][ text-white ]">
      {% for social in footer.socials %} {% ext social.icon, social.url %} {%
      endfor %}
    </div>
    <form class="[ footer__newsletter ][ text-white ]">
      <h2 class="fw-700">{{footer.newsletter.title}}</h2>
      <p class="fw-600">{{footer.newsletter.text}}</p>
      <div class="footer__newsletter--form">
        <input required type="text" />
        <div class="footer__button--wrapper">
          <button type="submit" data-type="primary">
            {{footer.newsletter.cta}}
          </button>
        </div>
      </div>
    </form>
  </div>
  <picture class="footer__bg">
    <source
      media="(min-width: 375px)"
      srcset="./images/bg-footer-top-desktop.svg"
    />
    <source
      media="(max-width: 375px)"
      srcset="./images/bg-footer-top-mobile.svg"
    />
    <img
      srcset="
        ./images/bg-footer-top-desktop.svg,
        ./images/bg-footer-top-mobile.svg
      "
      sizes="(min-width: 375px), (max-width: 375px)"
      src="./images/bg-footer-top-mobile.svg"
      alt=""
    />
  </picture>
</footer>
